.full {
  width: 100%;
}

.fullDiv {
  width: 49%;
}

.containerProducts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}


@media screen and (max-width: 700px) {
  .fullDiv {
    width: 100%;
  }
}
